
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Inter', Arial, sans-serif;
  color: #2c2c2c;
  text-align: left;
}

main {
  background: white;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  padding: 30px 30px 30px 30px;

  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  border-radius: 10px;

  max-width: 900px;
}

/*Layout fixes*/

h1 {
  display: block;
}

h2 {
  display: block;
  margin: 10px 0;
}

h1, h2, h3 {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;

  color: #1a1a1a;
  text-align: center;
}

nav {
  position: sticky; 
  top: 0;
  background: #eee;
  padding: 10px;
}

nav a {
  display: inline;
  margin-right: 10px;
  text-decoration: none;
}

section {
  margin: 20px 10px 20px 10px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;

  border: 1px solid #ddd;
  border-radius: 8px;
}

footer {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

details {
  position: absolute;
  right: 20px;
}

img {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: auto;
}

video {
  width: 100%;
  max-width: 400px;
}

textarea {
  width: 100%;
  max-width: 300px;
  height: 80px;
}

/*Grid Element*/
ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  gap: 10px;
}

/*Flexbox Element*/
section:nth-of-type(3) ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

section:nth-of-type(3) ul li {
  width: 45%;
  margin-bottom: 8px;
}

/*Form layout*/
input, select, textarea {
  display: block;
  margin-bottom: 10px;

  padding: 10px 15px 10px 15px;

  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 4px;
}

button {
  display: inline-block;
  margin: 10px 0 10px 0;
  padding: 10px 15px;

  background: #93530f;
  color: white;
  border: none;
  border-radius: 5px;
}

/*Styling for Readability*/

#main-title {
  text-decoration: underline;
}

.highlight {
  color: #93530f;
}

input[type="text"] {
  border-color: #93530f;
}

ul li:hover {
  color: #93530f;
  text-decoration: underline;
}

button:hover {
  background-color: #6e3e0b;
}

p {
  margin-bottom: 10px;
  line-height: 1.7;
}

li {
  line-height: 1.5;
}

footer p {
  text-align: center;
  color: #777;
}

label {
  font-weight: 600;
}

summary {
  cursor: pointer;
  font-weight: bold;
  color: #93530f;
}

hr {
  display: none;
}